.footer{
    background-color:  #2F303A;
    padding: 60px 0;
    margin: 0 auto;
}

.footer-container{
    display: flex;
    align-items: baseline;
}

.logo-footer{
    @include font (var(--additional-font), 700, 26px, 1.19, 0.03em, var(--title-text-color2));
}

.list-footer{
    margin-top: 20px;
}

.footer-link {
    @include font (var(--primary-font), null, 14px, 1.71, 0.03em, var(--title-text-color2));
    text-decoration: none;
}

.footer-contact{
    @include font (var(--primary-font), null, 14px, 1.71, 0.03em, rgba(255, 255, 255, 0.6));
    text-decoration: none;
}

.li-footer:not(:last-child){
    margin-bottom: 9px;
}
